.choose .dd{
    display: none;
}
.choose:hover .dd{
    display: block;
}
.dn_search{
    margin-top: 15px;
    height: 40px;
    position: relative;
}
.dn_qbjg {
    font: 12px/23px "microsoft yahei";
    width: 200px;
    position: absolute;
}
.dn_qbjg .fh{
    font-size: 18px;
}
.dn_qbjg .dn_dn{
    font: 700 12px/23px "ו";
}
.dn_help{
    position: absolute;
    height: 23px;
    text-align: center;
    background: #fff;
    width: 135px;
    border: 1px solid #ddd;
    cursor: pointer;
    top: 0px;
    right: 10px;

}
.dn_help span{
    display: inline-block;

}
.dn_help i{
    width: 18px;
    height: 18px;
    margin-right: 2px;
    background: url("../images/search.icons.png") no-repeat 0 0;
    display: inline-block;
}
.dn_banner
{
   margin: 10px 0;
    width: 100%;
}
.dn_banner img{
    width: 100%;
    height: 87px;
}
.dn_select {
    border-top: 1px solid #ddd;
    background: #fff;
    position: relative;
}

.dn-wrap{
    position: relative;
    line-height: 34px;
    border-bottom: 1px solid #ddd;
    background: #f3f3f3;

}
.sl-key{
    float: left;
    width: 100px;
    padding-left: 10px;
    height: 64px;
    background: #ededed;
}
.sl-key span{
    font: 700 12px/34px "simsun";
    margin-top: 5px;
}
.sl-value{
    margin-left: 110px;
    padding-left: 10px;
    background: #fff;
}
.sl-value ul{
    float: left;
    margin-bottom: 10px;
}
.sl-value ul li{
    float: left;
    line-height: 20px;
    border: 1px solid #fff;
    text-align: left;
    padding: 5px 7px;
    width: 121px;
}
.sl-ext{
    position: absolute;
    topx:5px;
    right: 10px;
    width: 110px;
    line-height: 22px;
    margin-top: 5px;
}
.sl-ext .sl-e-more{
    float: left;
    margin-right: 10px;
    position: relative;
    width: 39px;
    height: 23px;
    line-height: 23px;
    padding: 0 7px 0 4px;
    background: #fff;
    color: #333;
    border: 1px solid #ddd;
}
.sl-ext .sl-e-more i{
    position: absolute;
    top: 1px;
    right: 2px;
    display: block;
    width: 20px;
    height: 20px;
    background-position: 4px 7px;
    background: url(../images/search.ele.png) no-repeat 1px 5px;
}
.sl-ext .sl-e-multiple{
    float: left;
    line-height: 23px;
    border: 1px solid #ddd;
    padding: 0 3px 0 18px;
    position: relative;
    background: #fff;
    color: #333;
}
.sl-ext .sl-e-multiple i{
    position: absolute;
    top: 1px;
    left: 3px;
    display: block;
    width: 13px;
    height: 20px;
    background: url(../images/search.ele.png) no-repeat 0px -63px;
}